NODE_ENV=development
PORT=4000
RADIUS_BASE_URL=https://localhost/cake4/rd_cake
RADIUS_TOKEN_LOCAL=b4c6ac81-8c7c-4802-b50a-0a6380555b50
RADIUS_CLOUD_ID=1
OMADA_BASE_URL=https://omada.techzone.lat
OMADA_OPERATOR=Operator
OMADA_PASSWORD=Operator@123
PORTAL_PUBLIC_URL=https://hotspot.techzone.lat/portal
PORTAL_SUCCESS_URL=https://hotspot.techzone.lat/portal/success
LOG_LEVEL=info
DEFAULT_LANGUAGE=fr_FR
ENABLE_SSE_USAGE=false
