NODE_ENV=development
PORT=4000
RADIUS_BASE_URL=
RADIUS_TOKEN_LOCAL=
RADIUS_CLOUD_ID=
OMADA_BASE_URL=
OMADA_OPERATOR=
OMADA_PASSWORD=
PORTAL_PUBLIC_URL=
PORTAL_SUCCESS_URL=
LOG_LEVEL=info
DEFAULT_LANGUAGE=fr_FR
ENABLE_SSE_USAGE=false
ADMIN_AUTH_MODE=static
ADMIN_STATIC_USER=
ADMIN_STATIC_PASSWORD=
RADIUS_MYSQL_USER=
RADIUS_MYSQL_PASSWORD=
ADMIN_TOKEN_TTL_MINUTES=240
